<div class="d-flex align-items-center justify-content-between mb-3">
  <h5 class="mb-0">Penjualan 5 Bulan Terakhir</h5>
</div>

<div class="card">
  <div class="card-body">
    @if (chartOptions) {
      <apx-chart
        #chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [colors]="chartOptions.colors"
        [stroke]="chartOptions.stroke"
        [yaxis]="chartOptions.yaxis"
        [grid]="chartOptions.grid"
        [tooltip]="chartOptions.tooltip"
        [dataLabels]="chartOptions.dataLabels"
      ></apx-chart>
    }
  </div>
</div>
