<div class="row">
  @for (analytic of AnalyticEcommerce; track analytic) {
  <div class="col-md-6 col-xl-3">
    <app-card [showHeader]="false" blockClass="dashboard-card">
      <h6 class="mb-2 f-w-400 text-muted">{{ analytic.title }}</h6>
      <h4 class="mb-3">{{ analytic.amount }}</h4>
      <p class="mb-0 text-muted text-sm">
        <span class="{{ analytic.color }}">{{ analytic.detail }}</span>
      </p>
    </app-card>
  </div>
  }

  <div class="col-md-12 col-xl-8">
    <app-monthly-bar-chart />

    <h5 class="mb-3">Recent Orders</h5>
    <div class="card tbl-card">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th>NO.</th>
              <th>User</th>
              <th>Proyek</th>
              <th>Status</th>
              <th class="text-end">TOTAL</th>
            </tr>
          </thead>
          <tbody>
            @for (order of invoice; track order) {

            <tr>
              <td>
                <a href="javascript:" class="text-muted">{{ $index + 1 }}</a>
              </td>

              <td>{{ order.name }}</td>

              <td>
                <span class="d-block">{{ order.nama_project }}</span>
              </td>

              <td>
                <i class="badge-circle {{ getStatusColor(order.status) }} f-10 m-r-5"></i>
                {{ order.status }}
              </td>

              <td class="text-end">Rp {{ order.total_harga | number }}</td>
            </tr>

            }
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-xl-4">
    <h5 class="mb-3">Activity History</h5>
    <div class="card">
      <div class="list-group list-group-flush">
        @for (history of activity; track history) {
        <a href="javascript:" class="list-group-item list-group-item-action px-3">
          <div class="d-flex">
            <div class="flex-shrink-0">
              <div class="avatar avatar-s rounded-circle {{ getActivityBackground(history.aktivitas) }}">
                <i class="f-16" antIcon type="{{getActivityIcon(history.aktivitas)}}" theme="outline"></i>
              </div>
            </div>
            <div class="flex-grow-1 ms-3">
              <h6 class="mb-1">{{ history.nama_barang }}</h6>
              <p class="mb-0 text-muted">{{ history.datetime | date:'dd/MM/yyyy HH:mm' }}</p>
            </div>
            <div class="flex-shrink-0 text-end">
              <h6 class="mb-1">{{ getActivityAmount(history.aktivitas) }} Rp.{{ history.harga }}</h6>
              <p class="mb-0 text-muted">{{ history.jumlah }} {{ history.satuan }}</p>
            </div>
          </div>
        </a>
        }
      </div>
    </div>
    <!-- <div class="card">
      <div class="card-body">
        <div class="row justify-content-between">
          <div class="col-auto">
            <h5>Help & Support Chat</h5>
            <p class="mb-3">Typical replay within 5 min</p>
          </div>
          <div class="col-auto">
            <div class="user-group mb-3">
              <img src="assets/images/user/avatar-1.jpg" alt="image" />
              <img src="assets/images/user/avatar-2.jpg" alt="image" />
              <img src="assets/images/user/avatar-3.jpg" alt="image" />
            </div>
          </div>
        </div>
        <div class="d-grid">
          <div class="btn btn-primary">Need Help?</div>
        </div>
      </div>
    </div> -->
  </div>
  <!-- [ sample-page ] end -->
</div>
